## Week 10 and 11 Assignment - DATASCI200 Introduction to Data Science Programming, UC Berkeley MIDS

Write code in this Jupyter Notebook to solve the following problems. Please upload this **Notebook** with your solutions to your GitHub repository and provide a link in the last question in gradescope. 

Assignment due date: 11:59PM PT the night before the Week 12 Live Session. Do **NOT** push/upload the data file.

## Objectives

- Explore and glean insights from a real dataset using pandas
- Practice using pandas for exploratory analysis, information gathering, and discovery
- Practice cleaning data and answering questions

## General Guidelines:

- This is a **real** dataset and so it may contain errors and other pecularities to work through
- This dataset is ~218mb, which will take some time to load (and probably won't load in Google Sheets or Excel)
- If you make assumptions, annotate them in your responses
- While there is one code/markdown cell positioned after each question as a placeholder, some of your code/responses may require multiple cells
- Double-click the markdown cells that say for example **1a answer here:** to enter your written answers. If you need more cells for your written answers, make them markdown cells (rather than code cells)
- This homework assignment is not autograded because of the variety of responses one could give. 
  - Please upload this notebook to the autograder page and the TAs will manually grade it. 
  - Ensure that each cell is run and outputs your answer for ease of grading! 
  - Highly suggest to do a `restart & run all` before uploading your code to ensure everything runs and outputs correctly.
  - Answers without code (or code that runs) will be given 0 points.
- **This is meant to simulate real world data so you will have to do some external research to determine what some of the answers are!**

## Dataset

You are to analyze campaign contributions to the 2016 U.S. presidential primary races made in California. Use the csv file located here: https://drive.google.com/file/d/1Lgg-PwXQ6TQLDowd6XyBxZw5g1NGWPjB/view?usp=sharing. You should download and save this file in the same folder as this notebook is stored.  This file originally came from the U.S. Federal Election Commission (https://www.fec.gov/).

**DO NOT PUSH THIS FILE TO YOUR GITHUB REPO!**

- Best practice is to not have DATA files in your code repo. As shown below, the default load is outside of the folder this notebook is in. If you change the folder where the file is stored please update the first cell!
- If you do accidentally push the file to your github repo - follow the directions here to fix it: https://docs.google.com/document/d/15Irgb5V5G7pKPWgAerH7FPMpKeQRunbNflaW-hR2hTA/edit?usp=sharing

Documentation for this data can be found here: https://drive.google.com/file/d/11o_SByceenv0NgNMstM-dxC1jL7I9fHL/view?usp=sharing

## Data Questions

You are working for a California state-wide election campaign. Your boss wants you to examine historic 2016 election contribution data to see what zipcodes are more supportive of fundraising for your candidate. 

Your boss asks you to filter out some of the records:
- Only use primary 2016 contribution data (more like how your race is).
- Concentrate on Bernie Sanders as a candidate (most a like your candidate)

The questions your boss wants answered is:
- Which zipcode (5-digit zipcode) had the highest count of contributions and the most dollar amount?
- What day(s) of the month do most people donate?

## Setup

Run the cell below as it will load the data into a pandas dataframe named `contrib`. Note that a custom date parser is defined to speed up loading. If Python were to guess the date format, it would take even longer to load.

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

# These commands below set some options for pandas and to have matplotlib show the charts in the notebook
pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format

# Define a date parser to pass to read_csv
d = lambda x: datetime.strptime(x, '%d-%b-%y')

# Load the data
# We have this defaulted to the folder OUTSIDE of your repo - please change it as needed
contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)

# Note - for now, it is okay to ignore the warning about mixed types.

/var/folders/_5/mw87wr4s5p902pvj5xm4sqnw0000gn/T/ipykernel_94500/2050583822.py:14: DtypeWarning: Columns (6,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)

***
## 1. Initial Data Checks (50 points)

First we will take a preliminary look at the data to check that it was loaded correctly and contains the info we need.

The questions to answer at the end of this section:
- Do we have the correct # of columns and rows. 
- Do the records contain data for the questions we want to answer 
- What columns are important? 
- What columns can be dropped?
- What are the data problems?

In [5]:
contrib.head(-10)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125644,C00573519,P60005915,"Carson, Benjamin S.","WATSON, DANNY",MEADOW VISTA,CA,957229516,RETIRED,RETIRED,25.00,2016-01-16,NaN,NaN,NaN,SA17A,1073637,SA17.1142327,P2016
1125645,C00573519,P60005915,"Carson, Benjamin S.","WIEBE, JACQUELINE",BAKERSFIELD,CA,933113065,SELF EMPLOYED,PSYCHIATRIST,25.00,2016-01-21,NaN,NaN,NaN,SA17A,1073637,SA17.1155204,P2016
1125646,C00573519,P60005915,"Carson, Benjamin S.","WIEBE, JACQUELINE",BAKERSFIELD,CA,933113065,SELF EMPLOYED,PSYCHIATRIST,10.00,2016-01-31,NaN,NaN,NaN,SA17A,1073637,SA17.1180293,P2016
1125647,C00573519,P60005915,"Carson, Benjamin S.","WIEDMANN, MARTHA",BAKERSFIELD,CA,933127012,SELF EMPLOYED,COMPLIANCE CONSULTANT,100.00,2016-01-30,NaN,NaN,NaN,SA17A,1073637,SA17.1179583,P2016
1125648,C00573519,P60005915,"Carson, Benjamin S.","RIPA, KELLY",OJAI,CA,930233496,INTRI OLEX TECHNOLOGIES,MACHINIST,50.00,2016-01-31,NaN,NaN,NaN,SA17A,1073637,SA17.1182848,P2016

**1a.** Print the *shape* of the data. Does this match the expectation? (2 points)

In [2]:
# 1a YOUR CODE HERE

contrib.shape

(1125659, 18)

- **1a answer here:** 

The shape matches expectations. I used contrib.head(-10) to get a list of the last 10 rows and see that that last row is 1125659 and the count of columns is 18

**1b.** Print a list of column names. Are all the columns included that are in the documentation? (2 points)

In [7]:
# 1b YOUR CODE HERE

contrib.columns

Index(['cmte_id', 'cand_id', 'cand_nm', 'contbr_nm', 'contbr_city',
       'contbr_st', 'contbr_zip', 'contbr_employer', 'contbr_occupation',
       'contb_receipt_amt', 'contb_receipt_dt', 'receipt_desc', 'memo_cd',
       'memo_text', 'form_tp', 'file_num', 'tran_id', 'election_tp'],
      dtype='object')

- **1b answer here:** 

I can't say for sure if the 18 columsns are precisely what was in the documentation as I could not find a single bulk file with the 18 fields. However, I reviewed several files (like those listed below) and reason to believe that the data is complete as it has been blended from multiple sources and the relevant information needed to answer the question is contained.

https://www.fec.gov/data/browse-data/?tab=bulk-data

https://www.fec.gov/campaign-finance-data/candidate-committee-linkage-file-description/

https://www.fec.gov/campaign-finance-data/all-candidates-file-description/

https://www.fec.gov/campaign-finance-data/committee-master-file-description/

https://www.fec.gov/campaign-finance-data/contributions-committees-candidates-file-description/

**1c** Print out the first five rows of the dataset. How do the columns `cand_id`, `cand_nm` and `contbr_st` look? (3 points)

In [9]:
# 1c YOUR CODE HERE
contrib.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016

- **1c answer here:** 

The 4 fields are cand_id (ie candidate id) which is a alphanumeric type. The cand_nm (ie candidate name) is alphabetic (unless we have a name like X Æ A-Xii, thanks to Elon). 

The contbd_st (constribution state) is a 2 digid alphabet (caps) that stands for CA (as this data is limited to california)

**1d.** Print out the values for the column `election_tp`. In your own words, based on the documentation, what information does the `election_tp` variable contain? Do the values in the column match the documentation? (3 points)

In [10]:
# 1d YOUR CODE HERE

contrib.election_tp.unique()

array(['P2016', 'G2016', nan, 'P2020'], dtype=object)

- **1d answer here:** 

I see 4 valuesP2016, G2016, P2020 and a nan). I can infer that we have two anomolies here (asusming that P2020 refers to campaign finance data for CY 2020). Also, the nan values have to be fixed as well

**1e.** Print out the datatypes for all of the columns. What are the datatypes for the `contbr_zip`, `contb_receipt_amt`, `contb_receipt_dt`? (5 points)

In [19]:
# 1e YOUR CODE HERE

#type(contrib)

contrib.info()

#contrib.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125659 entries, 0 to 1125658
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cmte_id            1125659 non-null  object
 1   cand_id            1125659 non-null  object
 2   cand_nm            1125659 non-null  object
 3   contbr_nm          1125659 non-null  object
 4   contbr_city        1125633 non-null  object
 5   contbr_st          1125659 non-null  object
 6   contbr_zip         1125564 non-null  object
 7   contbr_employer    967757 non-null   object
 8   contbr_occupation  1115260 non-null  object
 9   contb_receipt_amt  1125659 non-null  float64
 10  contb_receipt_dt   1125659 non-null  datetime64[ns]
 11  receipt_desc       15045 non-null    object
 12  memo_cd            144268 non-null   object
 13  memo_text          501148 non-null   object
 14  form_tp            1125659 non-null  object
 15  file_num           1125659 non-null  int64
 16  tran_id            1125659 non-null  object
 17  election_tp        1124234 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(15)
memory usage: 154.6+ MB

- **1e answer here:** 

* contbr_zip : object
* contb_receipt_amt : float64
* contb_receipt_dt: datetime64[ns]

**1f.** What columns have the most non-nulls?  Would you recommend to drop any columns based on the number of nulls? (5 points)

In [26]:
# 1f YOUR CODE HERE
contrib.info()
#contrib.isnull().sum(axis = 0)

# to get the column with the least non-null values
#contrib.count().idxmin()

# to get the column with the most non-null values
# contrib.count().idxmax()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125659 entries, 0 to 1125658
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cmte_id            1125659 non-null  object
 1   cand_id            1125659 non-null  object
 2   cand_nm            1125659 non-null  object
 3   contbr_nm          1125659 non-null  object
 4   contbr_city        1125633 non-null  object
 5   contbr_st          1125659 non-null  object
 6   contbr_zip         1125564 non-null  object
 7   contbr_employer    967757 non-null   object
 8   contbr_occupation  1115260 non-null  object
 9   contb_receipt_amt  1125659 non-null  float64
 10  contb_receipt_dt   1125659 non-null  datetime64[ns]
 11  receipt_desc       15045 non-null    object
 12  memo_cd            144268 non-null   object
 13  memo_text          501148 non-null   object
 14  form_tp            1125659 non-null  object
 15  file_num           1125659 non-null  int64
 16  tran_id            1125659 non-null  object
 17  election_tp        1124234 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(15)
memory usage: 154.6+ MB

- **1f answer here:** 

The max count (for non-null values) is 1125659 and there are a number of columns have the most non-null values. In order they are
* 0   cmte_id            1125659 non-null  object        
* 1   cand_id            1125659 non-null  object        
* 2   cand_nm            1125659 non-null  object        
* 3   contbr_nm          1125659 non-null  object
* 5   contbr_st          1125659 non-null  object 
* 9   contb_receipt_amt  1125659 non-null  float64       
* 10  contb_receipt_dt   1125659 non-null  datetime64[ns]
* 14  form_tp            1125659 non-null  object        
* 15  file_num           1125659 non-null  int64         
* 16  tran_id            1125659 non-null  object        
* 17  election_tp        1124234 non-null  object 

receipt_desc has the least number of non-null values (15045), implying there are 1110614, or ~ 99% of values are null. This is a candidate to be removed

I would also consider the following two columns for removal as well as they don't seem relevant to the basic question and have a ton of null values

Percentage of non-null values: 

* memo_cd: 87%
* memo_text: 55%

**1g.** A column we know that we want to use is the cand_nm column.  From the documentation each candidate is a unique candidate id also. Check data quality of `cand_id` column to see if it matches `cand_nm` column. Specifically check to ensure our targetted candidate 'Bernard Sanders' always has the same cand_id throughout. Any issues with `cand_nm` matching `cand_id`? (5 points)

In [28]:
contrib['cand_nm'].unique()

array(['Clinton, Hillary Rodham', 'Sanders, Bernard',
       "Cruz, Rafael Edward 'Ted'", 'Walker, Scott', 'Bush, Jeb',
       'Rubio, Marco', 'Kasich, John R.', 'Christie, Christopher J.',
       'Johnson, Gary', 'Trump, Donald J.', 'Paul, Rand',
       'Webb, James Henry Jr.', 'Carson, Benjamin S.', 'Fiorina, Carly',
       'Santorum, Richard J.', 'Jindal, Bobby', 'Huckabee, Mike',
       'Lessig, Lawrence', "O'Malley, Martin Joseph",
       'Graham, Lindsey O.', 'Pataki, George E.', 'Stein, Jill',
       'McMullin, Evan', 'Perry, James R. (Rick)', 'Gilmore, James S III'],
      dtype=object)

In [27]:
# 1g YOUR CODE HERE
contrib.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016

- **1g answer here:**

**1h.** Another area to check is to make sure all of the records are from California. Check the `contbr_st` column - are there any records outside of California based on `contbr_st`? (5 points)

In [ ]:
# 1h YOUR CODE HERE

- **1h answer here:**

**1i.** The next column to check for the analysis is the `tran_id` column. This column could be the primary key so look for duplicates. How many duplicate entries are there? Any pattern for why are there duplicate entries? (5 points)

In [ ]:
# 1i YOUR CODE HERE

- **1i answer here:**

**1j.** Another column to check is the `contb_receipt_amt` that shows the donation amounts. How many negative donations are included? What do negative donations mean? Please show at least pull a few rows to look at the records with negative donations. Do these records match with the expectation of why a negative donation would happen? (5 points)

In [ ]:
# 1j YOUR CODE HERE

- **1j answer here:**

**1k.** One more column to look at is the date of donation column. Are there any dates outside of the primary period (defined as 1 Jan 2014 to 7 June 2016)? Are the dates well-formatted for our analysis? (5 points)

In [ ]:
# 1k YOUR CODE HERE

- **1k answer here:**

**1l.** Finally, answer the initial questions in the cells below (5 points)

**1l.1** Do we have the correct # of columns and rows.

- **1l.1 answer here:**

**1l.2** Do the records contain data for the questions we want to answer?

- **1l.2 answer here:**

**1l.3** What columns are important?

- **1l.3 answer here:**

**1l.4** What columns can be dropped?

- **1l.4 answer here:**

**1l.5** What are the data problems?

- **1l.5 answer here:**

**1l.6** List any assumptions so far:

- **1l.6 answer here:**

***
## 2. Data filtering and data quality fixes (30 points)

Now that we have a basic understanding of the data, let's filter out the records we don't need and fix the data.

**2a.** From the dataset filter out (remove) any election_tp not in the primary election. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [ ]:
# 2a YOUR CODE HERE

**2b.** From the dataset filter out (remove) any candidate that is not Bernie Sanders. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [ ]:
# 2b YOUR CODE HERE

**2c.** The `contbr_zip` column is not formatted well for our analysis. Make a new zipcode column that is the five-digit zipcodes. Filter out any records outside of California based on the zipcode. Print/show the shape of the dataframe after the filtering is complete. (10 points).

- You will have to research what the valid 5-digit zipcodes for California are!

In [ ]:
# 2c YOUR CODE HERE

**2d.** The receipt amount column has negative donations. After talking with your team, a decision was made that the best course of action is to remove these negative values so that the donation count and amount is more accurate. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [ ]:
# 2d YOUR CODE HERE

**2e.** From the dataset drop any columns that won't be used in the analysis. Print/show the shape of the dataframe after the dropping is complete. What columns did you drop and why? (5 points)

In [ ]:
# 2e YOUR CODE HERE

- **2e answer here:**

**2f.** List any assumptions that you made up to this point:

- **2f answer here:**

***
## 3. Answering the questions (20 points)

Now that the data is cleaned and filterd - let's answer the two questions from your boss!

**3a.** Which zipcode had the highest count of contributions and the most dollar amount? (10 points)

In [ ]:
# 3a YOUR CODE HERE

- **3a answer here:**

**3b.** What day(s) of the month do most people donate? (10 points)

In [ ]:
# 3b YOUR CODE HERE

- **3b answer here:**

## If you have feedback for this homework, please submit it using the link below:

http://goo.gl/forms/74yCiQTf6k