## Python Objects and Types

##### 1. As stated in the lecture everything in Python is an object. Let's take a look at some examples!

In [1]:
# We can see type of "The scientists of today" by using type()

type("The scientists of today")

str

In [2]:
# The type of a whole number is:

type(7)

int

In [3]:
# The type of a number with a decimal is:

type(7.1)

float

In [4]:
# We can even look at the type of an object like the print statement

type(print)

builtin_function_or_method

In [5]:
# We can also assign a variable into the object space like shown below
# my_str is the variable name 

my_str = "Hello World!"

type(my_str)

str

Now it's your turn to fill out the code below!  You can check your answers in the answers folder under each week.

In [6]:
# What is the type of the object below?

7.0

type(7.0)

float

In [7]:
# Below assign the number 10 to the variable num

10

# What is the type of the new variable named `num`?

num = 10

type(num)

int

##### 2. In this exercise, we will use constructors to change the type of objects from one object type to another

In [8]:
# An example of a constructor converting an string to an integer:

int("5")

5

##### Some other constructors that might be useful here:

- bool()
- int()
- float()
- str()

- Use a constructor to convert the object ```True``` to an integer - what do you get when this happens?
- Cast ```True``` to a string - what happens now?

In [9]:
# To an integer
int(True)

1

In [10]:
str(True)

'True'

In [11]:
# To a string
str(True)

'True'

- Check what happens when you typecast an integer into a boolean

In [12]:
# To a boolean
10

bool(10)

True

The following addition causes an error (because Python is a strongly-typed language!) True + a string of 5.5 doesn't make sense to Python so it throws an error.  
- Put one or both of the objects inside a constructor so that the statement works and outputs the value 6.5.  
- For an extra challenge in the second cell, see if you can make it output the value 2!

In [22]:
# outputting the value 6.5
# True + "5.5"

int(True) + float("5.5")

6.5

In [15]:
int(True)

1

In [18]:
float("5.5")

5.5

In [20]:
int(float("5.5"))

5

In [21]:
int(float("5.5")) + int(True)

6

In [ ]:
# outputting the value 2

True + "5.5"

In [24]:
bool(float("5.5"))

True

In [25]:
int(bool(float("5.5")))

1

In [27]:
int(bool(float("5.5"))) + int(True) + bool(True)

3