# Copied content from earlier exercises

### 5-3-3 Using Our Flexible Function with a Lambda Function (10 points)

**NOTE: Do not change your best function from the answer in 5-3-1 above! The best function should be able to take any scoring function and return the result.** (you also do not need to copy your best function from above - we will run the cells above and then this cell in succession) 

Now pass a `lambda` function into your `best` function to find the name in `names` with the highest number of A's (upper or lower case). This needs to be a lambda function and only be one line! 

Example (replace `<lambda_function>` with the correct ```lambda```): 
```
names = ["Ben", "April", "Zaber", "Alexis", "McJagger", "J.J.", "MadonnA"]

print(best(<lambda_function>, names))

MadonnA
```

In [ ]:
# Q5-3-3 Grading Tag: (also do not delete the names variable below)
names = ["Ben", "April", "Zaber", "Alexis", "McJagger", "J.J.", "MadonnA"] 

print(best(<lambda_function>, names))

---

In [4]:
def best(score, names):
    '''
    Solution using FOR Loops and Lists
    Uses two lists ( as max() does not return the first occurance on tie breaker)
    '''
    
    mylist = []                                               # create empty list
    newlist = []                                              # create placeholder for final extract
    for word in names:                                        # for loop
        mylist.append((score(word), word))                    # append to the empty list 
        newmax = max(mylist)[0]                               # find out the max occurances (we can't use max on mylist as that would not resolve the tie breaker)
        newlist = [tup for tup in mylist if tup[0] == newmax] #append to a final list the winning entry (or entries for the tie condition)
    return newlist[0][1]                                      # this gets the first occurance of the winning entry and breaks the tie

In [5]:
def len_score(word):
    return len(word.lower())

In [6]:
def number_of_vowels(word):
    
    '''
    function to calculate the number of vowels in a word. 
    uses list comprehension
    '''
    return len([letter for letter in word if letter.lower() in 'aeiou'])         
    # uses list comprehension to run word through a vowel checker and returns the length

---

<font size = 6, color = red> Current Version

# Stack Overflow upload

In [1]:
items = ['pillow', 'armchair', 'aloegel', 'hammer']

In [2]:
def maxa(tally, items):
    mylist = [(tally(word), word) for word in items]     # this gives us list in the original order
    return max(mylist, key = lambda x : x[0])[1]         # the lambda function sorts on first and then second item

In [104]:
# maxa(lambda x : sum(letter in ('a', 'A') for letter in word), items)

'pillow'

<font size = 6, color = red> THIS WORKS!

In [3]:
maxa(lambda x : sum(letter in ('a', 'A') for letter in x), items)

'armchair'

---

------

<Font size = 6, color = green> Rewriting this for the course

## Testing for final upload

In [11]:
names = ["Ben", "April", "Zaber", "Alexis", "McJagger", "J.J.", "MadonnAA"]

In [12]:
best(lambda x : sum(letter in ('a', 'A') for letter in x), names)

'MadonnAA'

In [13]:
names1 =  ["Jeff", "Alex", "Robert", "Chris", "Gunnar", "PAULA", "Madonna", "Aei", "AA"]

In [14]:
best(lambda x : sum(letter in ('a', 'A') for letter in x), names1)

'PAULA'

In [15]:
names2 =  ["Ben", "April", "Zaber", "Alexis", "McJagger", "J.J.", "Madonna", "Beiurrr"]

In [16]:
best(lambda x : sum(letter in ('a', 'A') for letter in x), names2)

'Madonna'

In [17]:
names3 =  [ "Alexis"]

In [19]:
best(lambda x : sum(letter in ('a', 'A') for letter in x), names3)

'Alexis'

In [20]:
names4 = ["Alice", "Beatrice", "Amarnae", "Zootrope"]

In [21]:
best(lambda x : sum(letter in ('a', 'A') for letter in x), names4)

'Amarnae'

In [25]:
best(lambda x : sum(letter in ('a', 'A') for letter in x), namescourse)

'MadonnA'

In [24]:
namescourse = ["Ben", "April", "Zaber", "Alexis", "McJagger", "J.J.", "MadonnA"]