### Midterm Exam Part 2: Programming (60 points)

The midterm exam is designed to evaluate your grasp of Python theory as well as Python coding.

This part of the exam consists of four programming questions. You have 48 hours to complete both parts (Part 1 and Part 2). Please insert each function into a file named **midterm.py** and upload to gradescope in Part 2. **The code version uploaded to Part 2 will be your official version for grading purposes.**

Submit you code in a **midterm.py** file to this part within the 48 window. You can submit as many times as your like inside the window but if you submit over the window, we will take the last submitted entry before the window expired. The visible autograder tests check only that your code is producing the correctly formatted answer. That is, you will only see 20 of the 60 total points visible in the autograder when you submit - the remaining 40 of 60 points are not visible so please make sure your code meets all of the requirements stated in the problem.

- **Do not put any additional code besides import statements and the function defs in the midterm.py file**
- **Return** the answers instead of printing them in the function!
- This is an individual open book exam.
- You may use any libraries from the Python Standard Library for this exam: https://docs.python.org/3/library/
- Follow best practices while coding!

### Problem 3:  Birthday planning (15 pts)

Suppose you record a list of birthdays for your classmates, recorded as month day tuples.  An example is given below.

In [1]:
# The 2nd to last tuple needs the int(2) in it so that it is uniquely stored in memory compared to (2,8)
# Under the hood Python 3.7 changed how these are stored so (2,8) and (2,8) are stored in the same location
# and then the algorithm below doesn't work

dates = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

You read about the famous birthday problem and you become interested in the number of pairs of classmates that share the same birthday. Below is an algorithm you write to do this. (Note: the ```is``` operator tests that two operands point to the same object)

In [2]:
def birthday_original(dates_list):
    count = 0

    for person_a in dates_list:
        for person_b in dates_list:
            # Make sure we have different people        

            if person_a is person_b:
                continue

            # Check both month and day
            if person_a[0] == person_b[0] and person_a[1] == person_b[1]:
                count += 1
                
    # We counted each pair twice (e.g. jane-bob and bob-jane) so divide by 2:          
    return count//2

In [3]:
birthday_original(dates)

3

You notice that your initial algorithm is inefficient in that it counts each pair twice. For example, it will increment count once when person_a is Jane and person_b is Bob, and again when person_a is Bob and person_b is Jane. Revise the algorithm so that it only looks at each pair once and has an average run-time of **Ï´**(n). Put that code in the function below - the function just needs to return the integer number of Total birthday pairs.

**Note:** Your code needs to duplicate the functionality of the algorithm above. It is suggested that you make new `dates` lists and pass them to both functions to test that the results are the same!

In [ ]:
dates = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

def birthday_count(dates_list):
    """Returns the total number of birthday pairs in the dates_list"""
    pass # delete this statement before entering your code!

# Starting Line

---

In [37]:
new_list = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

my_list = sorted(new_list)
print(new_list)

# #new_list.sort(key=lambda y: y[1])

# # count = 0
# # for i in (new_list.sort(key=lambda y: y[1])):
# #     if i == i+1:
# #         count +=1
# #     print(count)



# #print(new_list)
# #print(a)

# for item in (new_list.sort(key=lambda y: y[1])):
#     print(item)

[(3, 14), (2, 8), (10, 25), (5, 17), (3, 2), (7, 25), (4, 30), (8, 7), (2, 8), (1, 22), (2, 8)]

---

In [39]:
sample = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]
print(sorted(sample))

[(1, 22), (2, 8), (2, 8), (2, 8), (3, 2), (3, 14), (4, 30), (5, 17), (7, 25), (8, 7), (10, 25)]

---

In [18]:
my_list = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]
count={}
for i in my_list:
    if tuple(sorted(i))  in count:
#        pass 
        count[tuple(sorted(i))]+=1
        
    else:
        count[tuple(sorted(i))]=0
#        continue
#        pass
#        count[tuple(sorted(i))]=1

print(count)

{(3, 14): 0, (2, 8): 2, (10, 25): 0, (5, 17): 0, (2, 3): 0, (7, 25): 0, (4, 30): 0, (7, 8): 0, (1, 22): 0}

---

In [2]:
my_list = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

#result = my_list.sort(key=lambda y: y[1])
print(my_list.sort(key=lambda y: y[1]))

# #result = sorted[(sub) for sub in my_list]

#print(result)

# # newList = my_list.
# # count={}
# for i in my_list(sorted):
#     if i  == i+1 :#  in count:
        
#         count[tuple(sorted(i))]+=1
        
#     else:
#         count[tuple(sorted(i))]=0
#        continue
#        pass
#        count[tuple(sorted(i))]=1

# print(count)

None

---

# Trying solution with Lambda function applied to tuples

In [4]:
listoftuples  = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

#listoftuples = [('TEnglish', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
arrange = lambda x : x.sort()
arrange(listoftuples)
print(listoftuples)

[(1, 22), (2, 8), (2, 8), (2, 8), (3, 2), (3, 14), (4, 30), (5, 17), (7, 25), (8, 7), (10, 25)]

In [5]:
listoftuples  = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

#listoftuples = [('TEnglish', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
arrange = lambda x : x.sort()
arrange(listoftuples)
print(listoftuples)

[(1, 22), (2, 8), (2, 8), (2, 8), (3, 2), (3, 14), (4, 30), (5, 17), (7, 25), (8, 7), (10, 25)]

In [7]:
listoftuples.sort()
listoftuples

[(1, 22),
 (2, 8),
 (2, 8),
 (2, 8),
 (3, 2),
 (3, 14),
 (4, 30),
 (5, 17),
 (7, 25),
 (8, 7),
 (10, 25)]

---

In [8]:
team = ["FCP", "SCP", "SLB"]
def allMatches(lst):
    teams = []
    for element_list1 in lst:
        for element_list2 in lst:
            if element_list1 != element_list2:
                teams.append(tuple((element_list1, element_list2)))
    return teams

allMatches(team)

[('FCP', 'SCP'),
 ('FCP', 'SLB'),
 ('SCP', 'FCP'),
 ('SCP', 'SLB'),
 ('SLB', 'FCP'),
 ('SLB', 'SCP')]

In [9]:
team = ["FCP", "SCP", "SLB"]
def allMatches(lst):
    return [(el1, el2) for el1 in lst for el2 in lst if el1!=el2]
    

allMatches(team)

[('FCP', 'SCP'),
 ('FCP', 'SLB'),
 ('SCP', 'FCP'),
 ('SCP', 'SLB'),
 ('SLB', 'FCP'),
 ('SLB', 'SCP')]

<font size = 4, color = red> This solution works, but has the same issue as earlier

In [13]:
#team = ["FCP", "SCP", "SLB"]
team = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]
def allMatches(lst):
    return [(el1, el2) for el1 in lst for el2 in lst if el1==el2]
allMatches(team)

[((3, 14), (3, 14)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((10, 25), (10, 25)),
 ((5, 17), (5, 17)),
 ((3, 2), (3, 2)),
 ((7, 25), (7, 25)),
 ((4, 30), (4, 30)),
 ((8, 7), (8, 7)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((1, 22), (1, 22)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8))]

In [18]:
#team = ["FCP", "SCP", "SLB"]
team = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]
def allMatches(lst):
    teams = []
    for element_list1 in lst:
        for element_list2 in lst:
            if element_list1 == element_list2:
                teams.append(tuple((element_list1, element_list2)))
    return teams

allMatches(team)

[((3, 14), (3, 14)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((10, 25), (10, 25)),
 ((5, 17), (5, 17)),
 ((3, 2), (3, 2)),
 ((7, 25), (7, 25)),
 ((4, 30), (4, 30)),
 ((8, 7), (8, 7)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((1, 22), (1, 22)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8)),
 ((2, 8), (2, 8))]

In [15]:
#team = ["FCP", "SCP", "SLB"]
team = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]
def allMatches(lst):
    count = 0
    return [count+1 for el1 in lst for el2 in lst if el1==el2]
    
allMatches(team)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

---

# First Enumerate

In [21]:
mylist = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

newlist = list(enumerate(mylist))
newlist

[(0, (3, 14)),
 (1, (2, 8)),
 (2, (10, 25)),
 (3, (5, 17)),
 (4, (3, 2)),
 (5, (7, 25)),
 (6, (4, 30)),
 (7, (8, 7)),
 (8, (2, 8)),
 (9, (1, 22)),
 (10, (2, 8))]

# SQL query to get list of all pairs

In [22]:
mylist = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

employee = list(enumerate(mylist))


SELECT t1.index, 
       t1.date, 
       t2.index, 
       t2.date
FROM Employee t1, Employee t2
WHERE t1.date = t2.date
AND t1.index <> t2.index

SyntaxError: invalid syntax (3468118211.py, line 6)

In [100]:


def birthday_original(dates_list):
    mylist = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

    dates_list = list(enumerate(mylist))
    #print(dates_list)
    for b,t in dates_list:
        return [t for t in dates_list if (t[1], t[0]) in dates_list]
#        print(mylist2)

#     count = 0

#     for b,g in dates_list:
#         for i in range(9):
#             if g[i] == g[i+1]:
#                 print('hello')
    
# #     for person_a[1] in dates_list:
# #         for person_b[1] in dates_list:
# #             # Make sure we have different people        

# #             if person_a[1] is person_b[1]:
# #                 continue

# #             # Check both month and day
# #             if person_a[0] == person_b[0] and person_a[1] == person_b[1]:
# #                 count += 1
                
# #     # We counted each pair twice (e.g. jane-bob and bob-jane) so divide by 2:          
# #     return count//2

In [101]:
birthday_original(dates_list)

[]

# Currently Here

In [115]:
#list_tuples = [(2,3), (4,7), (3,2), (7,8), (7,4)]
list_tuples2 = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]
list_tuples = list(enumerate(mylist))


front_number = []
back_number = []

for i in range(len(list_tuples)):
    front_number.append(list_tuples[i][0])
#    print(front_number)
    back_number.append(list_tuples[i][1])
#    print(back_number)

new_list_tuple = []
count = 0
for i, v in enumerate(front_number):
    for b_i, b_v in enumerate(back_number):
        if b_i == i:
            count +=1
        print(count)
            
# #            print("hey")
#             print(v, b_v)
#             #pass
#         elif v == b_v:
#             pass
# #             if front_number[b_i] == back_number[i]:
# #                 if (front_number[i], back_number[i]) not in new_list_tuple:
#                     new_list_tuple.append((front_number[i],back_number[i]))
# print(new_list_tuple)

1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
4
4
4
5
5
5
5
5
5
5
5
5
5
5
5
6
6
6
6
6
6
6
6
6
6
6
6
7
7
7
7
7
7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
8
8
8
8
9
9
9
9
9
9
9
9
9
9
9
9
10
10
10
10
10
10
10
10
10
10
10
10
11

# trying out variations of tuple unpacking (and enumerate)

In [74]:
mylist = [(3,14),(2,8),(10,25),(5,17),(3,2),(7,25),(4,30),(8,7),(int(2),8),(1,22),(2, int(8))]

dates_list = list(enumerate(mylist))
#print((len(dates_list)-1))
# n = range(len(dates_list)-1)
# print(n)


#print(len(dates_list))
#print(dates_list)

# count = 0
# for items in dates_list:
#     if items[0][1] == items[1][1]:
#         count += 1
# print(count)

# for i in (range(10)):#range((len(dates_list)-3)):
#     print(i)
#    new = [item for item in dates_list if item[i] == item[i+1]]
    
# SELECT t1.index, 
#        t1.date, 
#        t2.index, 
#        t2.date
# FROM Employee t1, Employee t2
# WHERE t1.date = t2.date
# AND t1.index <> t2.index

# for id, name in enumerate(mylist):
# #    for i in range(0,9):
# #        if name[i] == name[i+1]:
# #        print(i, name)
#     print([(el1, el2) for el1 in enumerate(mylist) for el2 in enumerate(mylist) if el1==el2])
    
#    print(id, name)


for id, name in enumerate(mylist):
#    print(id, name)
#    for i in range(0,9):
#        if name[i] == name[i+1]:
#        print(i, name)
#    print([(name1, name2) for name1 in enumerate(mylist) for name2 in enumerate(mylist) if name1==name2])
#    print([('hello') for id1, name1 in enumerate(mylist) for id2, name2 in enumerate(mylist) if name1==name2])

    for i in range(9):
#        print(i)
        print(name[i])
        # if name[0] == name[1]:
        #     print('hello')

3
14

IndexError: tuple index out of range

In [76]:
mytuple = (1,2)

mytuple[0]

1