# Initializing a Class


Add an __init__ magic method to initialize funding and employee data as instance (rather than class) attributes. 

- Require that one employee name is added at the opening of a company 
- Make the initial funding amount default to 0. 
- Don't forget your self arguments; instance attributes need self arguments!

- Enhance your add employee method; if the method is called without an argument and the default value (employee_name == "unnamed") is used then do not add unnamed to the list and print a message to instruct the user to add a name.

In [ ]:
#### ORIGINAL ONE -- COPIED ####


class Company():
    '''
   this is a practice docstring
    '''
    
    employee_list=[]
    employee_count=1
    funding_list=[]

    def add_employee_name(self, employee):
        self.employee_list.append(employee)
        self.employee_count += 1
        print('the employee list is {}'.format(self.employee_list))
        print('the employee count is {}'.format(self.employee_count))


    def add_funding(self, amount):
        self.funding_list.append(amount)
        print('the additional amount is {}'.format(amount))
        print('your funding total was {}'.format(sum(self.funding_list)))

In [48]:
#### NEW ONE -- FOR THIS EXERCISE ####


class Company():
    '''
    You can copy over your class from the last exercise and add the __init__() part
    '''
    
    employee_list=[]
    employee_count=0
    funding_list=[]
    
    def __init__(self, employee_name):
        self.employee_name = employee_name
        print(' this is the initial employee {}'.format(employee_name))
    
    def add_employee_name(self):
        self.employee_list.append(self.employee_name)
        self.employee_count += 1
        print('the employee list is {}'.format(self.employee_list))
        print('the employee count is {}'.format(self.employee_count))
 
            
    def add_funding(self, amount = 0):
        self.funding_list.append(amount)
        print('the additinoal amount is {}'.format(amount))
        print('youir funding total was {}'.format(sum(self.funding_list)))

In [23]:
c1 = Company('employee 3')

 this is the initial employee employee 3

In [24]:
c1.add_employee_name()

the employee list is ['employee 1', 'employee 2', 'employee 3']
the employee count is 2

In [16]:
c1.add_funding(100)

the additinoal amount is 100
youir funding total was 100

---

In [25]:
c2 = Company("e1")

 this is the initial employee e1

In [31]:
c2.add_employee_name()

the employee list is ['employee 1', 'employee 2', 'employee 3', 'employee 3', 'e1', 'e1', 'e1', 'e1']
the employee count is 5

In [32]:
c2.employee_list

['employee 1',
 'employee 2',
 'employee 3',
 'employee 3',
 'e1',
 'e1',
 'e1',
 'e1']

In [33]:
c2.employee_count

5

In [34]:
c1.employee_count

3

In [37]:
c2.add_funding(300)

the additinoal amount is 300
youir funding total was 300

In [38]:
c2.funding_list

[300]

In [39]:
c1.funding_list

[300]

____

### what I am seeing is that attributes like funding and employee count are the same for c1 and c2

#### hwoever, employee_count is different for c1 and c2

# Redoing the tests

#### Company c3

In [49]:
c3 = Company('emp1')

 this is the initial employee emp1

In [55]:
c3.add_employee_name('')

TypeError: add_employee_name() takes 1 positional argument but 2 were given

In [51]:
c3.add_funding(100)

the additinoal amount is 100
youir funding total was 100

In [52]:
c3.funding_list

[100]

In [53]:
c3.employee_count

1

In [54]:
c3.employee_list

['emp1']

##### Company c4

---

#### Need to modify the add_employee function (it is now allowing the addition without company creation now)

#### WORKING NOW

In [74]:
#### NEW ONE -- FOR THIS EXERCISE ####

class Company():
    '''
    You can copy over your class from the last exercise and add the __init__() part
    '''

    def __init__(self, employee_name):
        
        self.employee_list=[]
        self.employee_count=0
        self.funding_list=[]
        
        self.employee_name = employee_name
        self.employee_list.append(employee_name)
        self.employee_count += 1
        print(' this is the initial employee {}'.format(employee_name))
    
    def add_employee_name(self, employee_name):
 #       self.employee_name = employee_name
        self.employee_list.append(employee_name)
        self.employee_count += 1
        print('the employee list is {}'.format(self.employee_list))
        print('the employee count is {}'.format(self.employee_count))
 
            
    def add_funding(self, amount = 0):
        self.funding_list.append(amount)
        print('the additinoal amount is {}'.format(amount))
        print('youir funding total was {}'.format(sum(self.funding_list)))

In [75]:
c5 = Company('emp1')

 this is the initial employee emp1

In [76]:
c5.add_employee_name('emp5')

the employee list is ['emp1', 'emp5']
the employee count is 2

In [77]:
c5.employee_count

2

In [79]:
Company.employee_list

# this is correct - should error out

AttributeError: type object 'Company' has no attribute 'employee_list'

In [80]:
c5.employee_list

['emp1', 'emp5']

---

#### Create second company

In [81]:
c6 = Company('emp10')

 this is the initial employee emp10

In [82]:
c6.add_employee_name('emp11')

the employee list is ['emp10', 'emp11']
the employee count is 2

In [83]:
c6.employee_count 

# this is fine

2

In [84]:
c5.employee_count

# this is fine

2

In [85]:
c5.employee_list

['emp1', 'emp5']

In [86]:
c6.employee_list

['emp10', 'emp11']

In [88]:
##### problem with employee list (which seems to be common)

In [87]:
c5.add_funding(100)

the additinoal amount is 100
youir funding total was 100

In [88]:
c6.add_funding(200)

the additinoal amount is 200
youir funding total was 200

In [89]:
c5.funding_list

[100]

In [90]:
c6.funding_list

[200]

In [93]:
##### same issue with funding list -- seems to be common to both c5 & c6

<font color = red> at this point, employee_count is OK. employee_list and funding_list are WRONG

In [92]:
# try out your class with this code
c1 = Company("Gunnar")
c1.add_employee_name() # this should give an error message!

c2 = Company("Chris")
c2.add_funding(10000000)
c2.add_funding(50000)

 this is the initial employee Gunnar

TypeError: add_employee_name() missing 1 required positional argument: 'employee_name'

### Now the funding should correctly stay with the company that it was assigned!

In [93]:
print(sum(c2.funding_list) == sum(c1.funding_list))
print(c1.funding_list)
print(c2.funding_list)

NameError: name 'c2' is not defined