# FOR Loops

In [2]:
countdown = 5

while countdown > 0:
    print(countdown)
    countdown -= 1
print('Blast Off')

5
4
3
2
1
Blast Off

---

## FOR LOOP

In [4]:
countdown = 5

for item in range(countdown, 0, -1):
    print(item)
print('Blast Off')

5
4
3
2
1
Blast Off

In [5]:
# the FOR loop does increment/decrement counter automatically

In [6]:
# earlier example with WHILE loop

### Nested WHILE LOOP (earlier example)

In [16]:
row = 5

while row >= 0:
    col = 0
    while col <= row:
        print(col, end = "")
        col +=1
    print("")
    row -= 1

012345
01234
0123
012
01
0

### Doing the same with FOR Loops

In [25]:
for a in range(5, -1, -1):
    print(a)

5
4
3
2
1
0

In [24]:
row = 5

for a in range(row,-1, -1):
    for b in range(a+1):
        print(b, end = " ")
    print("")
    #print(a)

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [31]:
x = list(range(1,5,1))

In [32]:
type(x)

list

In [33]:
x

[1, 2, 3, 4]

---

### The object we put in the FOR must be a iterable
#### includes  lists, tuples, sets, dictionaries, strings etc

In [36]:
mylist = [5,4,3,2,1,0]

for a in mylist:
    for b in range(a+1):
        print(b, end = "")
    print("")
    #print(a)

012345
01234
0123
012
01
0

---

In [42]:
# take a name and remove vowels

#x = input('enter you name: ')
x = 'dfdfeedeeerreeiuo'

for char in x:
    if char.lower() not in "aeiou":
        
        print(char, end = "")

dfdfdrr

In [ ]:
# x = 'dfdfeedeeerreeiuo'
# vowels = 'aeiou'
# newlist = ''

# counter = 0

# while counter <= len(x):
#     if

---

In [45]:
x = ['Paul', 'Bill', 'Kay']

for name in x:
    print(name)

Paul
Bill
Kay

In [48]:
x = ['Paul', 'Bill', 'Kay']

for name in x:
    print(name + ", as himself")

Paul, as himself
Bill, as himself
Kay, as himself

<font size = 6, color = red>While loops are more flexible than FOR loops -- there are cases where a corresponding For loop does not exist

<font size = 6, color = magenta>For every FOR loop, it is fairly easy to have a FOR loop equivalent