## Week 3 Assignment -  DATASCI200 Introduction to Data Science Programming, UC Berkeley MIDS

### 3-2. Matrix Inverter (25 points)

One place where the usage of tuples is convenient is in the representation of matrices.  The values in a 2x2 matrix are labeled as follows:
$$
\begin{bmatrix}
    a       & b  \\
    c       & d
\end{bmatrix}
$$

Write code that asks the user for a text string including the four **numbers**, a, b, c, and d, separated by spaces.  You can use the `split()` method on the string to create a list of the four values in order.

Create a tuple that represents each row, then create a tuple that contains those two tuples.  It should have the form `((a, b), (c, d))`.  **Print this representation.**

The inverse of the matrix above is given by the formula:

$$
\frac{1}{ad-bc} \begin{bmatrix}
    d       & -b  \\
    -c       & a
\end{bmatrix}
$$

Recall that multiplying a matrix by a number effectively multiplies each element of the matrix by that number.

Compute the inverse of the given matrix, again represented as nested tuples and **print this out**. 

Answer format:
- The numbers below are fomatted to 4 decimal places but you do not need to do this 
- The outputted numbers do need to be floats

```
Please enter four numbers separated by spaces: 1 2 3 4

matrix: ((1.0000, 2.0000), (3.0000, 4.0000))
inverse: ((-2.0000, 1.0000), (1.5000, -0.5000))
```

In [4]:
### Q3-2 Grading Tag: Please put your entire solution in this cell. Don't edit this line.

In [269]:
inputstring = input("Please enter 4 numbers separated by spaces: 1 2 3 4")

Please enter 4 numbers separated by spaces: 1 2 3 4 1 2 3 4

In [270]:
#inputstring = 'a, b, c, d'
#inputstring = '1 2 3 4'

inputlist = inputstring.split()
inputlist

['1', '2', '3', '4']

In [271]:
inputlistint = list(float(x) for x in inputlist)
inputlistint

[1.0, 2.0, 3.0, 4.0]

In [268]:
# mytuple = tuple(inputlistint)
# mytuple

(1.0, 2.0, 3.0, 4.0)

In [256]:
# inputlistint[0]

1.0

In [257]:
# print(f"{inputlistint[0]:.4f}")

1.0000

In [266]:
# for num in range(0,4):
#     print(f"{inputlistint[num]:.4f}", end=" ")

1.0000 2.0000 3.0000 4.0000

In [ ]:
# inputlistint2 = (format(list(float(x), '.4f') for x in inputlist)

# list(inputlistint2)

In [236]:
# print(format(inputlistint[0], '.4f'))

1.0000

In [230]:
# inputlistfloat = ("%.4f"%float(x) for x in inputlistint)
# inputlist2 = list(inputlistfloat)
# inputlist2
# #list(inputlistfloat)

['1.0000', '2.0000', '3.0000', '4.0000']

In [ ]:
# inputlistfloat = round(float(x), 4) for x in inputlistint)
# inputlist2 = list(inputlistfloat)
# inputlist2
# #list(inputlistfloat)

In [193]:
inputlistfloat = (float(x) for x in inputlist)
inputlist2 = list(inputlistfloat)
inputlist2

[1.0, 2.0, 3.0, 4.0]

In [260]:
mytuple1 = (inputlist2[0], inputlist2[1])
mytuple1

('1.0000', '2.0000')

In [106]:
mytuple2 = (inputlist2[2], inputlist2[3])
mytuple2

(3.0, 4.0)

In [185]:
mytuple = (mytuple1, mytuple2)
#mytuple
print(mytuple)

((1.0, 2.0), (3.0, 4.0))

In [186]:
den1 = (mytuple[0][0]) * (mytuple[1][1])
den1

4.0

In [187]:
den2 = (mytuple[0][1]) * (mytuple[1][0])
den2

6.0

In [188]:
d3 = 1/(d1 - d2)
d3

-0.5

In [183]:
mytupleinv2 = (((d*d3), (b*-d3)), ((c*-d3), (a*d3)))
mytupleinv2

((-2.0, 1.0), (1.5, -0.5))