## Week 3 Assignment -  DATASCI200 Introduction to Data Science Programming, UC Berkeley MIDS

### 3-2. Matrix Inverter (25 points)

One place where the usage of tuples is convenient is in the representation of matrices.  The values in a 2x2 matrix are labeled as follows:
$$
\begin{bmatrix}
    a       & b  \\
    c       & d
\end{bmatrix}
$$

Write code that asks the user for a text string including the four **numbers**, a, b, c, and d, separated by spaces.  You can use the `split()` method on the string to create a list of the four values in order.

Create a tuple that represents each row, then create a tuple that contains those two tuples.  It should have the form `((a, b), (c, d))`.  **Print this representation.**

The inverse of the matrix above is given by the formula:

$$
\frac{1}{ad-bc} \begin{bmatrix}
    d       & -b  \\
    -c       & a
\end{bmatrix}
$$

Recall that multiplying a matrix by a number effectively multiplies each element of the matrix by that number.

Compute the inverse of the given matrix, again represented as nested tuples and **print this out**. 

Answer format:
- The numbers below are fomatted to 4 decimal places but you do not need to do this 
- The outputted numbers do need to be floats

```
Please enter four numbers separated by spaces: 1 2 3 4

matrix: ((1.0000, 2.0000), (3.0000, 4.0000))
inverse: ((-2.0000, 1.0000), (1.5000, -0.5000))
```

In [22]:
inputstring = input("Please enter 4 numbers separated by spaces: 1 2 3 4")

inputlist = inputstring.split()

inputlist2 = list(float(x) for x in inputlist)

mytuple1 = (inputlist2[0], inputlist2[1])

mytuple2 = (inputlist2[2], inputlist2[3])

# --------------------------------------------------

mytuple = (mytuple1, mytuple2)
print("matrix:" , mytuple)
# print("matrix: , {:.3f}".format(mytuple))
#print(float("{0:.4f}".format(v) for v in mytuple))
# mytuple2 = ('%.5f'% t for t in mytuple)
# print(mytuple2)
# for t,x in mytuple:
#     print("%.5f" %(t, x))
#print(' '.join(format(f, '.3f') for f in mytuple))
# print(f"{mytuple[0][0]:.4f}")

for a in range(0,2):
    for b in range(0,2):
        print("matrix is :", " ")
        print(f"{mytuple[a][b]:.4f}", end = " ")


# --------------------------------------------------


den1 = (mytuple[0][0]) * (mytuple[1][1])

den2 = (mytuple[0][1]) * (mytuple[1][0])

d3 = 1/(den1 - den2)

a = mytuple[0][0]

b = mytuple[0][1]

c = mytuple[1][0]

d = mytuple[1][1]

mytupleinv2 = (((d*d3), (b*-d3)), ((c*-d3), (a*d3)))
print("inverse:" , mytupleinv2)

Please enter 4 numbers separated by spaces: 1 2 3 4 1 2 3 4

matrix: ((1.0, 2.0), (3.0, 4.0))
matrix is :
1.0000 matrix is :
2.0000 matrix is :
3.0000 matrix is :
4.0000 inverse: ((-2.0, 1.0), (1.5, -0.5))

In [4]:
### Q3-2 Grading Tag: Please put your entire solution in this cell. Don't edit this line.

In [2]:
inputstring = input("Please enter 4 numbers separated by spaces: 1 2 3 4")

Please enter 4 numbers separated by spaces: 1 2 3 4 1 2 3 4

In [3]:
inputlist = inputstring.split()
inputlist

['1', '2', '3', '4']

In [6]:
inputlist2 = list(float(x) for x in inputlist)
inputlist2

[1.0, 2.0, 3.0, 4.0]

In [7]:
mytuple1 = (inputlist2[0], inputlist2[1])
mytuple1

(1.0, 2.0)

In [8]:
mytuple2 = (inputlist2[2], inputlist2[3])
mytuple2

(3.0, 4.0)

In [9]:
mytuple = (mytuple1, mytuple2)
#mytuple
print(mytuple)

((1.0, 2.0), (3.0, 4.0))

In [10]:
den1 = (mytuple[0][0]) * (mytuple[1][1])
den1

4.0

In [11]:
den2 = (mytuple[0][1]) * (mytuple[1][0])
den2

6.0

In [13]:
d3 = 1/(den1 - den2)
d3

-0.5

In [15]:
a = mytuple[0][0]
a

1.0

In [16]:
b = mytuple[0][1]
b

2.0

In [17]:
c = mytuple[1][0]
c

3.0

In [18]:
d = mytuple[1][1]
d

4.0

In [19]:
mytupleinv2 = (((d*d3), (b*-d3)), ((c*-d3), (a*d3)))
mytupleinv2

((-2.0, 1.0), (1.5, -0.5))