## Week 3 Assignment -  DATASCI200 Introduction to Data Science Programming, UC Berkeley MIDS

Write code in this Jupyter Notebook to solve the following problems. Please upload this **Notebook** with your solutions to your GitHub repository and gradescope.

Assignment due date: 11:59PM PST the night before the Week 4 Live Session.

## Objectives:

- More practice with while loops, if statements and gathering user inputs
- Demonstrate use of Python data structures such as lists, tuples, and dictionaries
- Understand how to add items to these data structures and print the contents of each to the user

## General Guidelines:

- In each code block, do NOT delete the ### comment at the top of a cell (it's needed for the auto-grading!)
  - Full autograder tests and results are on gradescope.
  - You will get the full 100 points from the autograder for this assignment.
  - You may upload and run the autograder as many times as needed in your time window to get full points
  - The assignment needs to be named HW_Unit_03.ipynb to be graded from the autograder!
  - The examples given are samples of how we will test/grade your code. Please ensure your code outputs the same information.
    - In addition to the given example, the autograder will test other examples
    - Each autograder test tells you what input it is using and the expected output
  - The autograder once complete will show the tests that are passed and failed and your total score
  - The autograder fails for a couple of reasons:
    - Your code crashes with that input (for example: `Test Failed: string index out of range`)
    - Your code output does not match the 'correct' output (for example: `Test Failed: '1 2 3 2 1' != '1 4 6 4 1'`)
- Limited user input validation and error checking is encouraged on this assignment. Each question below will indicate the type of input that you can expect. (for example, if the question states the input will be an integer, you can expect the user to input an integer and do not need to check to ensure it is an integer versus a float or a string)
- Adding comments in your code is strongly suggested but won't be graded.
- If you are stuck on a problem or do not understand a question - please come to office hours or ask questions to the class slack channel (please don't post your code though). If it is a coding problem send a private email to all of the instructors at: mids-python-instructors@googlegroups.com
- You may use any libraries from the Python Standard Library for this assignment: https://docs.python.org/3/library/
- We also have tutors if you would like a 1 on 1 session!

## Grading Rubric

General grading rubric guidelines / philosophy:

- The total possible points will be shown for each question
- Please read each question carefully to understand the requirements
- Points for each question are rewarded based on how well your code fulfills those requirements
- All of the problems have an example given to help show what is needed and how to format the answer

More on grading:
- If the question is blank / not attempted, no points will be given
- Most points are given for code that runs (does not crash) and fulfills the requirements

### 3-1. Pig Latin Translator (25 points)

Write code that translates a name into (simplified) Pig Latin. (Please do not make this a 'real' Pig Latin translator.)  Have your script ask the user for his or her name, which can comprise first, middle, and/or last parts. For each name part, move the first letter to the end of the part and append the letters "ay". Make sure that only the first letter of each word in your output is capitalized. You can use the ```split()``` method on the string to create a list of the name parts. Be sure that your script can handle one, two or three name parts separated by spaces. This will likely involve a loop.

Your script should re-create the following example exactly:

```
Enter your name: Paul Laskowski

Aulpay Askowskilay
```

<font size = 5, color = green>Got this!

In [59]:
#name = 'Ziba Joon Khan'
#name = 'Ziba Joon'
#name = 'Paul Laskowski'
name = input("Please enter your name")

namelist = name.split()
result = ""

for elem in namelist:
    result = result + elem[1:].capitalize() + elem[0].lower() + "ay "

print(result)

Please enter your name b cee ddf

bay Eecay Dfday

# New Solution - 09122022 (USE THIS!)

In [60]:
name = input("Please enter your name")

namelist = name.split()
result = ""
mylist = []

#print(len(elem[0]))

for elem in namelist:
    if len(elem) == 1:
        result = result + elem[0].upper() + "ay "
        mylist.append(result)
    else:
        result = result + elem[1:].capitalize() + elem[0].lower() + "ay "
        mylist.append(result)

mystring = str(mylist[-1])
print(mystring)

Please enter your name b a BaRaCuS

Bay Aay Aracusbay

---

## WIP - IGNORE

In [58]:
#name = 'Ziba Joon Khan'
#name = 'Ziba Joon'
#name = 'Paul Laskowski'
name = input("Please enter your name")

namelist = name.split()
result = ""
# result1 = ""
# result2 = ""
mylist = []

#print(len(elem[0]))

for elem in namelist:
    if len(elem) == 1:
        result = result + elem[0].upper() + "ay "
        mylist.append(result)
    else:
        result = result + elem[1:].capitalize() + elem[0].lower() + "ay "
        mylist.append(result)

#print(result)
#print(mylist)[2]
mystring = str(mylist[2])
print(mystring)


# for word in namelist:
#     if len(word) == 1:
# #        print(word, 'is 1 character')
#         result = result + word[0].upper() + "ay " 
#         #result = word[0].upper() + "ay " 
#         #result += result
# print(result)

    
    

#    else:


# if len(elem[0])==1 or len(elem[1]) ==1 or len(elem[2]) == 1:
#     print('test')
#     result = result + elem[1:].capitalize() + elem[0].lower() + "ay " 
#     #continue
#print(result)[3]

# elif elem in namelist:
#     result = result + elem[1:].capitalize() + elem[0].lower() + "ay "

# print(result)

Please enter your name b cee ddf

Bay Eecay Dfday

In [17]:
name = ('b a BaRaCuS')

name2 = name.split(" ")

name2

['b', 'a', 'BaRaCuS']

In [18]:
name2[1]

'a'

In [19]:
name2[0]

'b'

In [20]:
name2[2]

'BaRaCuS'

In [29]:
for letter in name2:
    if len(letter) == 1:
        print(letter, 'is 1')

b is 1
a is 1

In [10]:
### Q3-1 Grading Tag: Please put your entire solution in this cell. Don't edit this line.

name = 'Ziba Joon'

# expected result = Ibaay Oonay

name2 = name.split()

#print(name2)

name3 = (name2[0][1:].capitalize() +'ay') + ' ' + (name2[1][1:].capitalize() + 'ay')

print(name3)

Ibaay Oonay

In [33]:
name = 'Ziba Joon Khan'
namelist = name.split()
#print(namelist)

#namelist[0][1:].capitalize() +'ay'

# for item in namelist:
# #    print(item[0][1:].capitalize() +'ay')
# #    print(item)
#     print(item)[0]

for item in namelist:
    print(namelist[0][1:].capitalize() +'ay')
    print(namelist[1][1:].capitalize() +'ay')
    print(namelist[2][1:].capitalize() +'ay')

Ibaay
Oonay
Hanay
Ibaay
Oonay
Hanay
Ibaay
Oonay
Hanay

In [35]:
name = 'Ziba Joon Khan'
namelist = name.split()
#print(namelist)
index = [0,1,2]

#namelist[0][1:].capitalize() +'ay'

# for item in namelist:
# #    print(item[0][1:].capitalize() +'ay')
# #    print(item)
#     print(item)[0]

for index in namelist:
    print(namelist[index][1:].capitalize() +'ay')
    # print(namelist[1][1:].capitalize() +'ay')
    # print(namelist[2][1:].capitalize() +'ay')

TypeError: list indices must be integers or slices, not str

In [37]:
name = 'Ziba Joon Khan'
namelist = name.split()
result = ""
#print(namelist)
#index = [0,1,2]

for piglatin in namelist:
    print(piglatin[0][1:].capitalize() +'ay')
    # print(namelist[1][1:].capitalize() +'ay')
    # print(namelist[2][1:].capitalize() +'ay')

ay
ay
ay

In [21]:
name = 'Ziba Joon'

print(name[0][1:])#.capitalize() +'ay')
print(name.split())

['Ziba', 'Joon']

---

---

---

### 3-2. Matrix Inverter (25 points)

One place where the usage of tuples is convenient is in the representation of matrices.  The values in a 2x2 matrix are labeled as follows:
$$
\begin{bmatrix}
    a       & b  \\
    c       & d
\end{bmatrix}
$$

Write code that asks the user for a text string including the four **numbers**, a, b, c, and d, separated by spaces.  You can use the `split()` method on the string to create a list of the four values in order.

Create a tuple that represents each row, then create a tuple that contains those two tuples.  It should have the form `((a, b), (c, d))`.  **Print this representation.**

The inverse of the matrix above is given by the formula:

$$
\frac{1}{ad-bc} \begin{bmatrix}
    d       & -b  \\
    -c       & a
\end{bmatrix}
$$

Recall that multiplying a matrix by a number effectively multiplies each element of the matrix by that number.

Compute the inverse of the given matrix, again represented as nested tuples and **print this out**. 

Answer format:
- The numbers below are fomatted to 4 decimal places but you do not need to do this 
- The outputted numbers do need to be floats

```
Please enter four numbers separated by spaces: 1 2 3 4

matrix: ((1.0000, 2.0000), (3.0000, 4.0000))
inverse: ((-2.0000, 1.0000), (1.5000, -0.5000))
```

In [4]:
### Q3-2 Grading Tag: Please put your entire solution in this cell. Don't edit this line.

inputstring = input("Please enter 4 numbers separated by spaces: 1 2 3 4")

inputlist = inputstring.split()

inputlist2 = list(float(x) for x in inputlist)

mytuple1 = (inputlist2[0], inputlist2[1])

mytuple2 = (inputlist2[2], inputlist2[3])

mytuple = (mytuple1, mytuple2)
print("matrix:" , mytuple)

den1 = (mytuple[0][0]) * (mytuple[1][1])

den2 = (mytuple[0][1]) * (mytuple[1][0])

d3 = 1/(den1 - den2)

a = mytuple[0][0]

b = mytuple[0][1]

c = mytuple[1][0]

d = mytuple[1][1]

mytupleinv2 = (((d*d3), (b*-d3)), ((c*-d3), (a*d3)))
print("inverse:" , mytupleinv2)

In [172]:
#inputstring = 'a, b, c, d'
inputstring = '1 2 3 4'

inputlist = inputstring.split()
inputlist

['1', '2', '3', '4']

In [104]:
inputlistint = (float(x) for x in inputlist)
inputlist2 = list(inputlistint)
inputlist2

[1.0, 2.0, 3.0, 4.0]

In [105]:
mytuple1 = (inputlist2[0], inputlist2[1])
mytuple1

(1.0, 2.0)

In [106]:
mytuple2 = (inputlist2[2], inputlist2[3])
mytuple2

(3.0, 4.0)

In [125]:
mytuple = (mytuple1, mytuple2)
mytuple
print(mytuple)

((1.0, 2.0), (3.0, 4.0))

In [111]:
print(mytuple*2)

((1.0, 2.0), (3.0, 4.0), (1.0, 2.0), (3.0, 4.0))

In [122]:
mytuple[1*int(2)]

IndexError: tuple index out of range

In [129]:
#myinvtuple = tuple(elem1 * elem2 for elem1, elem2 in mytuple)
myinvtuple = tuple(3 * elem for elem in mytuple)

myinvtuple

((1.0, 2.0, 1.0, 2.0, 1.0, 2.0), (3.0, 4.0, 3.0, 4.0, 3.0, 4.0))

In [130]:
a = (5.0,3.0)

a_5 = tuple(5 * item for item in a)

a_5

(25.0, 15.0)

In [134]:
b = ((5.0,3.0), (4.0, 6.0))

b_5 = tuple(5 * (item, value) for item, value in b)

b_5

((5.0, 3.0, 5.0, 3.0, 5.0, 3.0, 5.0, 3.0, 5.0, 3.0),
 (4.0, 6.0, 4.0, 6.0, 4.0, 6.0, 4.0, 6.0, 4.0, 6.0))

In [139]:
c = b[0][0] * 10
c

50.0

In [143]:
1/(4-6) * mytuple[0][1]

-1.0

In [146]:
import numpy as np 

x = np.array([[1,2],[3,4]]) 
y = np.linalg.inv(x) 
print(x) 
print(y) 
print(np.dot(x,y))

[[1 2]
 [3 4]]
[[-2.   1. ]
 [ 1.5 -0.5]]
[[1.00000000e+00 1.11022302e-16]
 [0.00000000e+00 1.00000000e+00]]

In [166]:
mytuple

((1.0, 2.0), (3.0, 4.0))

In [158]:
# inv1 = (1/(((mytuple[0][0]) * (mytuple[0][1])) - (mytuple[1][0]) * (mytuple[1][1])))
# inv1

-0.1

In [167]:
d1 = (mytuple[0][0]) * (mytuple[1][1])
d1

4.0

In [168]:
d2 = (mytuple[0][1]) * (mytuple[1][0])
d2

6.0

In [178]:
d3 = 1/(d1 - d2)
d3

-0.5

In [181]:
mytupleinv = (((a*d3), (b*d3)), ((c*d3), (d*d3)))
mytupleinv

((-0.5, -1.0), (-1.5, -2.0))

In [183]:
mytupleinv2 = (((d*d3), (b*-d3)), ((c*-d3), (a*d3)))
mytupleinv2

((-2.0, 1.0), (1.5, -0.5))

In [174]:
a = mytuple[0][0]
a

1.0

In [175]:
b = mytuple[0][1]
b

2.0

In [176]:
c = mytuple[1][0]
c

3.0

In [177]:
d = mytuple[1][1]
d

4.0

In [152]:
mytuple1[0][0]

TypeError: 'float' object is not subscriptable

In [59]:
mytuple = (1,2,3)

In [61]:
mytuple[1]

2

In [65]:
#a,b,c,d = (1,2,3,4)
a,b,c,d = (2,1,4,3)

In [66]:
print(a,b,c,d)

2 1 4 3

In [67]:
mytuple2 = (1,2,3)

In [70]:
mytuple2[1] = 3

TypeError: 'tuple' object does not support item assignment