The following lists represent data on restaurants in the San Francisco area.  Typecast them into `Series`.

In [4]:
import numpy as np
import pandas as pd

In [5]:
score = [5, 4, 3, 5, 2, 4, 5]
cuisine = ['Thai', 'Mexican', 'American', 'Mexican', 'American', 'Indian', 'Thai']
takeout = [False, False, False, True, False, True, False]

In [19]:
score = pd.Series(score)
score

0    5
1    4
2    3
3    5
4    2
5    4
6    5
dtype: int64

In [23]:
cuisine = pd.Series(cuisine)
cuisine

0        Thai
1     Mexican
2    American
3     Mexican
4    American
5      Indian
6        Thai
dtype: object

In [24]:
takeout = pd.Series(takeout)
takeout

0    False
1    False
2    False
3     True
4    False
5     True
6    False
dtype: bool

---

Group scores by cuisine, then pull out a sample group to look at.

In [13]:
hellp = score.groupby(cuisine)

In [14]:
hellp

In [18]:
hellp.get_group('Thai')

0    5
6    5
dtype: int64

In [3]:
score_by_cuisine = score.groupby(cuisine)

In [4]:
score_by_cuisine.get_group('Thai')

0    5
6    5
dtype: int64

Find the minimum score for each type of cuisine.

In [32]:
newscore = score.groupby(cuisine)

In [33]:
type(newscore)

pandas.core.groupby.generic.SeriesGroupBy

In [28]:
newscore = score.groupby(cuisine).min()

In [31]:
newscore.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, American to Thai
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 236.0+ bytes

In [29]:
newscore.head()

American    2
Indian      4
Mexican     4
Thai        5
dtype: int64

In [5]:
score_by_cuisine.min()

American    2
Indian      4
Mexican     4
Thai        5
dtype: int64

In [34]:
newscore2 = score.groupby(cuisine)

In [35]:
newscore2.min()

American    2
Indian      4
Mexican     4
Thai        5
dtype: int64

---

Using a new groupby, find the mean score for takeout orders and non-takeout orders.

In [36]:
newscore3 = score.groupby(takeout)

In [37]:
type(newscore3)

pandas.core.groupby.generic.SeriesGroupBy

In [38]:
newscore3.mean()

False    3.8
True     4.5
dtype: float64

In [40]:
newscore3.mean().unstack

<bound method Series.unstack of False    3.8
True     4.5
dtype: float64>

In [6]:
score.groupby(takeout).mean()

False    3.8
True     4.5
dtype: float64

---

Create a table of mean scores, grouped by both cuisine (vertical axis) and takeout (horizontal axis)

In [41]:
newscore4 = scores.groupby(['cuisine', 'takeout']).mean

NameError: name 'scores' is not defined

In [44]:
newscore4 = score.groupby([cuisine, takeout]).mean()

In [45]:
newscore4.head()

American  False    2.5
Indian    True     4.0
Mexican   False    4.0
          True     5.0
Thai      False    5.0
dtype: float64

In [46]:
newscore4.unstack()

          False  True
American    2.5   NaN
Indian      NaN   4.0
Mexican     4.0   5.0
Thai        5.0   NaN

In [8]:
score.groupby([cuisine, takeout]).mean().unstack()

          False  True
American    2.5    NaN
Indian      NaN    4.0
Mexican     4.0    5.0
Thai        5.0    NaN