The following cells will load the Vegas dataset.

In [20]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
Vegas = pd.read_csv('vegas.csv')
Vegas.columns = Vegas.columns.str.replace('\.*\s+', '_').str.lower()

/var/folders/xj/j51mz36s00z2vnfq7wp23hxm0000gn/T/ipykernel_90481/3482245113.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  Vegas.columns = Vegas.columns.str.replace('\.*\s+', '_').str.lower()

Group the `DataFrame` by hotel.  For each hotel, compute the net promoter score, defined here as the fraction of scores that equal 5, minus the fraction of scores that equal 1, 2, or 3.

In [26]:
Vegas.head(5)

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

In [23]:
by_hotel = Vegas.groupby(Vegas.hotel_name)

In [24]:
by_hotel.mean()

,nr_reviews,nr_hotel_reviews,helpful_votes,score,nr_rooms,member_years
hotel_name,,,,,,
Bellagio Las Vegas,27.71,10.21,24.88,4.21,"3,933.00",3.42
Caesars Palace,38.00,15.29,26.38,4.12,"3,348.00",4.75
Circus Circus Hotel & Casino Las Vegas,29.21,7.79,18.50,3.21,"3,773.00",3.83
Encore at wynn Las Vegas,57.17,16.33,36.75,4.54,"2,034.00",4.75
Excalibur Hotel & Casino,45.58,22.12,31.75,3.71,"3,981.00",4.50
Hilton Grand Vacations at the Flamingo,48.42,23.04,32.46,3.96,315.00,3.96
Hilton Grand Vacations on the Boulevard,36.92,15.54,20.83,4.17,"1,228.00",4.79
Marriott's Grand Chateau,90.04,30.42,57.33,4.54,732.00,4.38
Monte Carlo Resort&Casino,71.83,17.46,39.25,3.29,"3,003.00",3.58
Paris Las Vegas,51.21,11.46,26.83,4.04,"2,916.00",3.62
The Cosmopolitan Las Vegas,33.79,10.12,28.54,4.25,"2,959.00",4.50
The Cromwell,71.54,20.96,45.17,4.08,188.00,3.58
The Palazzo Resort Hotel Casino,44.92,15.33,31.38,4.38,"3,025.00",5.29
The Venetian Las Vegas Hotel,32.04,12.96,24.00,4.58,"4,027.00",4.38
The Westin las Vegas Hotel Casino & Spa,46.46,18.08,36.17,3.92,826.00,5.75
Treasure Island- TI Hotel & Casino,24.04,10.12,20.54,3.96,"2,884.00",-71.04
Tropicana Las Vegas - A Double Tree by Hilton Hotel,30.50,12.71,22.75,4.04,"1,467.00",3.08
Trump International Hotel Las Vegas,65.00,13.67,27.79,4.38,"1,282.00",4.33
Tuscany Las Vegas Suites & Casino,64.08,20.46,39.79,4.21,716.00,4.71
Wyndham Grand Desert,66.83,18.58,37.42,4.38,787.00,4.54
Wynn Las Vegas,35.46,13.83,38.29,4.62,"2,700.00",5.42

In [25]:
by_hotel.score.mean()

hotel_name
Bellagio Las Vegas                                    4.21
Caesars Palace                                        4.12
Circus Circus Hotel & Casino Las Vegas                3.21
Encore at wynn Las Vegas                              4.54
Excalibur Hotel & Casino                              3.71
Hilton Grand Vacations at the Flamingo                3.96
Hilton Grand Vacations on the Boulevard               4.17
Marriott's Grand Chateau                              4.54
Monte Carlo Resort&Casino                             3.29
Paris Las Vegas                                       4.04
The Cosmopolitan Las Vegas                            4.25
The Cromwell                                          4.08
The Palazzo Resort Hotel Casino                       4.38
The Venetian Las Vegas Hotel                          4.58
The Westin las Vegas Hotel Casino & Spa               3.92
Treasure Island- TI Hotel & Casino                    3.96
Tropicana Las Vegas - A Double Tree by Hilton Hotel   4.04
Trump International Hotel Las Vegas                   4.38
Tuscany Las Vegas Suites & Casino                     4.21
Wyndham Grand Desert                                  4.38
Wynn Las Vegas                                        4.62
Name: score, dtype: float64

In [ ]:
def npr(pdseries):
    return

In [5]:
Vegas.groupby(['nr_reviews']).mean()

            nr_hotel_reviews  helpful_votes  score  nr_rooms  member_years
nr_reviews
1                       0.00           1.83   3.33  1,932.00          0.00
2                       2.86           5.57   3.86  1,233.43          1.86
3                       2.40           4.70   3.20  1,949.60          2.80
4                       2.93           3.67   3.53  2,449.33          3.93
5                       3.50           6.30   4.60  2,516.30          4.60
...                      ...            ...    ...       ...           ...
415                   162.00         265.00   4.00    787.00          8.00
418                    32.00         132.00   2.00  3,003.00          3.00
576                    43.00         340.00   3.00  3,003.00          3.00
608                   117.00         319.00   5.00    716.00          5.00
775                    52.00         255.00   3.00  1,282.00          2.00

[139 rows x 5 columns]

In [8]:
Vegas.groupby(['hotel_name']).sample(3)

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
434,USA,30,6,26,4,Dec-Feb,Couples,YES,YES,NO,YES,YES,YES,Bellagio Las Vegas,5,3933,North America,3,February,Tuesday
455,Malaysia,20,18,19,2,Dec-Feb,Families,YES,YES,NO,YES,YES,YES,Bellagio Las Vegas,5,3933,Asia,4,December,Friday
435,USA,41,9,111,5,Dec-Feb,Business,YES,YES,NO,YES,YES,YES,Bellagio Las Vegas,5,3933,North America,1,February,Friday
132,USA,14,8,4,5,Jun-Aug,Couples,YES,YES,NO,YES,YES,YES,Caesars Palace,5,3348,North America,1,July,Monday
139,USA,39,12,16,5,Sep-Nov,Friends,YES,YES,NO,YES,YES,YES,Caesars Palace,5,3348,North America,2,October,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,UK,24,12,30,4,Sep-Nov,Couples,YES,YES,YES,NO,NO,YES,Wyndham Grand Desert,"3,5",787,Europe,4,October,Monday
386,USA,60,11,33,5,Dec-Feb,Couples,YES,YES,YES,NO,NO,YES,Wyndham Grand Desert,"3,5",787,North America,3,February,Thursday
201,UK,19,5,5,5,Mar-May,Couples,YES,YES,YES,YES,YES,YES,Wynn Las Vegas,5,2700,Europe,3,May,Monday
204,USA,30,10,17,5,Jun-Aug,Couples,YES,YES,YES,YES,YES,YES,Wynn Las Vegas,5,2700,North America,3,July,Monday
195,USA,18,11,15,5,Dec-Feb,Couples,YES,YES,YES,YES,YES,YES,Wynn Las Vegas,5,2700,North America,7,February,Tuesday

In [10]:
Vegas.groupby(['hotel_name'])['score'].mean()

hotel_name
Bellagio Las Vegas                                    4.21
Caesars Palace                                        4.12
Circus Circus Hotel & Casino Las Vegas                3.21
Encore at wynn Las Vegas                              4.54
Excalibur Hotel & Casino                              3.71
Hilton Grand Vacations at the Flamingo                3.96
Hilton Grand Vacations on the Boulevard               4.17
Marriott's Grand Chateau                              4.54
Monte Carlo Resort&Casino                             3.29
Paris Las Vegas                                       4.04
The Cosmopolitan Las Vegas                            4.25
The Cromwell                                          4.08
The Palazzo Resort Hotel Casino                       4.38
The Venetian Las Vegas Hotel                          4.58
The Westin las Vegas Hotel Casino & Spa               3.92
Treasure Island- TI Hotel & Casino                    3.96
Tropicana Las Vegas - A Double Tree by Hilton Hotel   4.04
Trump International Hotel Las Vegas                   4.38
Tuscany Las Vegas Suites & Casino                     4.21
Wyndham Grand Desert                                  4.38
Wynn Las Vegas                                        4.62
Name: score, dtype: float64

In [11]:
Vegas.groupby(['hotel_name', 'traveler_type'])['score'].mean()

hotel_name          traveler_type
Bellagio Las Vegas  Business        4.00
                    Couples         4.71
                    Families        3.83
                    Friends         4.33
                    Solo            4.00
                                    ...
Wynn Las Vegas      Business        4.00
                    Couples         4.80
                    Families        5.00
                    Friends         5.00
                    Solo            4.00
Name: score, Length: 97, dtype: float64

In [13]:
Vegas.groupby(['hotel_name', 'traveler_type'])['score'].mean().unstack()

traveler_type,Business,Couples,Families,Friends,Solo
hotel_name,,,,,
Bellagio Las Vegas,4.00,4.71,3.83,4.33,4.00
Caesars Palace,5.00,4.18,4.12,4.67,1.00
Circus Circus Hotel & Casino Las Vegas,3.00,2.71,3.38,3.43,4.00
Encore at wynn Las Vegas,4.00,4.88,4.50,4.67,NaN
Excalibur Hotel & Casino,3.33,4.00,3.00,3.80,3.67
Hilton Grand Vacations at the Flamingo,4.00,4.25,3.56,4.33,NaN
Hilton Grand Vacations on the Boulevard,4.33,3.89,4.11,5.00,5.00
Marriott's Grand Chateau,4.17,4.50,4.86,4.67,NaN
Monte Carlo Resort&Casino,2.25,3.62,3.33,3.50,3.00
Paris Las Vegas,4.00,4.00,4.50,4.00,NaN
The Cosmopolitan Las Vegas,3.60,4.22,5.00,4.43,NaN
The Cromwell,3.75,4.60,3.50,4.20,2.00
The Palazzo Resort Hotel Casino,4.50,4.33,4.62,4.00,NaN
The Venetian Las Vegas Hotel,4.50,4.56,4.50,5.00,5.00
The Westin las Vegas Hotel Casino & Spa,4.00,4.11,3.20,4.00,4.25
Treasure Island- TI Hotel & Casino,3.50,4.10,3.60,4.00,4.50
Tropicana Las Vegas - A Double Tree by Hilton Hotel,3.75,4.00,4.50,4.14,4.00
Trump International Hotel Las Vegas,4.75,4.30,4.12,5.00,5.00
Tuscany Las Vegas Suites & Casino,3.71,4.36,3.50,5.00,NaN
Wyndham Grand Desert,4.00,4.50,4.22,4.60,NaN
Wynn Las Vegas,4.00,4.80,5.00,5.00,4.00

In [16]:
Vegas.groupby(['hotel_name', 'traveler_type'])['score'].agg('casino')

AttributeError: 'SeriesGroupBy' object has no attribute 'casino'

In [18]:
Vegas.groupby(['hotel_name', 'traveler_type'])['score'].describe()

                                  count  mean  std  min  25%  50%  75%  max
hotel_name         traveler_type
Bellagio Las Vegas Business        6.00  4.00 1.10 2.00 4.00 4.00 4.75 5.00
                   Couples         7.00  4.71 0.49 4.00 4.50 5.00 5.00 5.00
                   Families        6.00  3.83 1.47 2.00 2.50 4.50 5.00 5.00
                   Friends         3.00  4.33 1.15 3.00 4.00 5.00 5.00 5.00
                   Solo            2.00  4.00 0.00 4.00 4.00 4.00 4.00 4.00
...                                 ...   ...  ...  ...  ...  ...  ...  ...
Wynn Las Vegas     Business        4.00  4.00 1.41 2.00 3.50 4.50 5.00 5.00
                   Couples        15.00  4.80 0.41 4.00 5.00 5.00 5.00 5.00
                   Families        1.00  5.00  NaN 5.00 5.00 5.00 5.00 5.00
                   Friends         2.00  5.00 0.00 5.00 5.00 5.00 5.00 5.00
                   Solo            2.00  4.00 1.41 3.00 3.50 4.00 4.50 5.00

[97 rows x 8 columns]

In [19]:
type(Vegas.groupby(['hotel_name', 'traveler_type'])['score'])

pandas.core.groupby.generic.SeriesGroupBy

In [4]:
Vegas.groupby(Vegas.hotel_name)['score'].agg(lambda x: (x == 5).mean() - (x<4).mean())

hotel_name
Bellagio Las Vegas                                     0.33
Caesars Palace                                         0.29
Circus Circus Hotel & Casino Las Vegas                -0.46
Encore at wynn Las Vegas                               0.62
Excalibur Hotel & Casino                              -0.25
Hilton Grand Vacations at the Flamingo                 0.04
Hilton Grand Vacations on the Boulevard                0.33
Marriott's Grand Chateau                               0.54
Monte Carlo Resort&Casino                             -0.42
Paris Las Vegas                                        0.17
The Cosmopolitan Las Vegas                             0.46
The Cromwell                                           0.25
The Palazzo Resort Hotel Casino                        0.38
The Venetian Las Vegas Hotel                           0.58
The Westin las Vegas Hotel Casino & Spa               -0.04
Treasure Island- TI Hotel & Casino                    -0.04
Tropicana Las Vegas - A Double Tree by Hilton Hotel    0.17
Trump International Hotel Las Vegas                    0.50
Tuscany Las Vegas Suites & Casino                      0.25
Wyndham Grand Desert                                   0.38
Wynn Las Vegas                                         0.67
Name: score, dtype: float64

In [ ]:
Vegas.groupby(['hotel_name', 'traveler_type'])['score'].agg()

In [27]:
by_hotel.score.agg(lambda x : (x==5).mean() - (x <4).mean())

hotel_name
Bellagio Las Vegas                                     0.33
Caesars Palace                                         0.29
Circus Circus Hotel & Casino Las Vegas                -0.46
Encore at wynn Las Vegas                               0.62
Excalibur Hotel & Casino                              -0.25
Hilton Grand Vacations at the Flamingo                 0.04
Hilton Grand Vacations on the Boulevard                0.33
Marriott's Grand Chateau                               0.54
Monte Carlo Resort&Casino                             -0.42
Paris Las Vegas                                        0.17
The Cosmopolitan Las Vegas                             0.46
The Cromwell                                           0.25
The Palazzo Resort Hotel Casino                        0.38
The Venetian Las Vegas Hotel                           0.58
The Westin las Vegas Hotel Casino & Spa               -0.04
Treasure Island- TI Hotel & Casino                    -0.04
Tropicana Las Vegas - A Double Tree by Hilton Hotel    0.17
Trump International Hotel Las Vegas                    0.50
Tuscany Las Vegas Suites & Casino                      0.25
Wyndham Grand Desert                                   0.38
Wynn Las Vegas                                         0.67
Name: score, dtype: float64

In [28]:
def myfunc(pdseries):
    return pdseries.mean() - pdseries(max)

In [30]:
by_hotel.score.mean(myfunc)

hotel_name
Bellagio Las Vegas                                    4.21
Caesars Palace                                        4.12
Circus Circus Hotel & Casino Las Vegas                3.21
Encore at wynn Las Vegas                              4.54
Excalibur Hotel & Casino                              3.71
Hilton Grand Vacations at the Flamingo                3.96
Hilton Grand Vacations on the Boulevard               4.17
Marriott's Grand Chateau                              4.54
Monte Carlo Resort&Casino                             3.29
Paris Las Vegas                                       4.04
The Cosmopolitan Las Vegas                            4.25
The Cromwell                                          4.08
The Palazzo Resort Hotel Casino                       4.38
The Venetian Las Vegas Hotel                          4.58
The Westin las Vegas Hotel Casino & Spa               3.92
Treasure Island- TI Hotel & Casino                    3.96
Tropicana Las Vegas - A Double Tree by Hilton Hotel   4.04
Trump International Hotel Las Vegas                   4.38
Tuscany Las Vegas Suites & Casino                     4.21
Wyndham Grand Desert                                  4.38
Wynn Las Vegas                                        4.62
Name: score, dtype: float64